body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, .8fr);
}
.card {
    border: 3px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
}
.card p, .card img{
    margin: 15px;
}

.card img {
    margin-left: 20px;
    width: 15%;
    border-radius: 15px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;
    transform: scale(1.1);
    transition: transform 0.3s;
}
.bottom {
    display: inline-flex;
    flex-direction: row;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header p{
    background-color: rgb(193, 126, 255);
    color: rgb(70, 0, 136);
    border-radius: 90px;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;
    transform: scale(1.05);
    transition: transform 0.3s;
}
}
